* {
    margin: 0;
    padding: 0;
}
body {
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit", sans-serif;
    padding-bottom: 7.5%;
    padding-top: 7.5%;
}

.container {
    margin-top: 75px;
    width: 320px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: hsl(0, 0%, 100%);
    padding-top: 16px;
    border-radius: 10px;
}



.inner-container {
    margin-left: 16px;
    width: 288px;
    height: 497px;
    margin-top: auto;
    margin-bottom: auto;
}

.text-container {
    text-align: center;
    padding: 0 auto;
    margin-top: 32px;
    margin-bottom: 32px;
}

img {
    width: 288px;
    height: 288px;
    border-radius: 10px;
}

.upper-text {
    font-weight: 700;
    font-size: 22px;
    color: hsl(218, 44%, 22%)
        ;
}

.lower-text {
    margin-top: 16px;
    font-weight: 400;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
}
